[Desktop Entry]
Icon=text-html
Name=https://openclipart.org/download/202639/sine-wave-addition.svg
Type=Link
URL[$e]=https://openclipart.org/download/202639/sine-wave-addition.svg
