[Desktop Entry]
Icon=text-html
Name=https://openclipart.org/detail/202639/sine-wave-addition
Type=Link
URL[$e]=https://openclipart.org/detail/202639/sine-wave-addition
